files: >
  (?x)^(
      alembic/.*\.py$|
      stubs/.*\.pyi$|
      erasmus/.*\.py$|
      tests/.*\.py$
  )$
repos:
-   repo: local
    hooks:
    -   id: isort
        name: isort
        language: system
        entry: poetry run isort --resolve-all-configs --check-only
    -   id: black
        name: black
        language: system
        entry: poetry run black --check
    -   id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
    # -   id: mypy
    #     name: mypy
    #     language: system
    #     entry: poetry run mypy
    #     exclude: \.pyi$
    -   id: pyright
        name: pyright
        entry: pyright
        language: node
        pass_filenames: false
        types: [python]
        additional_dependencies: ['pyright@1.1.276']
