files: >
  (?x)^(
      alembic/.*\.py$|
      stubs/.*\.pyi$|
      erasmus/.*\.py$|
      tests/.*\.py$
  )$
repos:
  - repo: local
    hooks:
    - id: ruff
      name: ruff
      language: system
      entry: poetry run ruff check --force-exclude
    - id: black
      name: black
      language: system
      entry: poetry run black --check
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.360
    hooks:
    - id: pyright
      exclude: '^alembic/.*\.py$'
