aiodns==1.1.1
aiohttp==2.2.5
alembic==0.9.6
async-timeout==2.0.0
asyncpg==0.13.0
asyncpgsa==0.18.1
beautifulsoup4==4.6.0
cchardet==2.1.1
chardet==3.0.4
click==6.7
coverage==4.4.1
discord.py==1.0.0a1393+98a054e
flake8==3.5.0
Mako==1.0.7
MarkupSafe==1.0
mccabe==0.6.1
multidict==3.3.0
mypy==0.540
mypy-extensions==0.3.0
psycopg2==2.7.3.1
py==1.4.34
pycares==2.3.0
pycodestyle==2.3.1
pyflakes==1.6.0
pytest==3.2.3
pytest-asyncio==0.8.0
pytest-cov==2.5.1
pytest-flake8==0.8.1
pytest-mock==1.6.3
pytest-mypy==0.3.0
python-dateutil==2.6.1
python-editor==1.0.3
six==1.11.0
SQLAlchemy==1.1.14
typed-ast==1.1.0
uvloop==0.8.1
websockets==3.4
yarl==0.13.0
