[tool.poetry]
name = "erasmus"
version = "23.2.2.dev0"
description = ""
authors = ["Bryan Forbes <bryan@reigndropsfall.net>"]
license = "BSD-3-Clause"
packages = [
  { include = "erasmus" }
]

[tool.poetry.dependencies]
python = "^3.10"
alembic = "^1.9"
attrs = "^22.2.0"
beautifulsoup4 = "^4.11"
more-itertools = "~9.1.0"
"fluent.runtime" = "^0.3.1"

[tool.poetry.dependencies.botus_receptus]
git = "https://github.com/bryanforbes/botus_receptus.git"
tag = "v23.3.1"
extras = ["uvloop", "sqlalchemy"]

[tool.poetry.dependencies.discord-py]
version = "^2.1.0"
extras = ["speed"]

[tool.poetry.group.dev.dependencies]
asyncpg-stubs = "~0.27.0"
black = "^23.1"
coverage = {version = "^7.2", extras = ["toml"]}
flake8 = "~6.0"
flake8-bugbear = ">=23.1.14"
flake8-comprehensions = "^3.10.1"
flake8-implicit-str-concat = "^0.4.0"
flake8-pie = "^0.16.0"
flake8-pyi = "^23.1"
flake8-pytest-style = "^1.7.2"
flake8-simplify = "^0.19.3"
flake8-type-checking = "^2.3.0"
isort = "^5.12"
mypy = ">=0.991"
pre-commit = "^3.1"
pytest = "^7.2"
pytest-asyncio = "^0.20.3"
pytest-clarity = "^1.0.1"
pytest-cov = "^4.0"
pytest-mock = "^3.10"
pytest-recording = "^0.12.2"
pytest-sugar = "^0.9.6"
pytest-xdist = "^3.2"

[tool.poetry.scripts]
erasmus = 'erasmus.run:main'

[tool.black]
line-length = 88
target-version = ["py310"]
skip-string-normalization = true
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.pytest_cache
  | \.venv
  | htmlcov
)/
'''

[tool.coverage.report]
exclude_lines = [
  "pragma: no cover",
  "raise NotImplementedError",
  "^\\s+pass$",
  "^\\s*if TYPE_CHECKING:",
  "^\\s*\\.\\.\\.\\s*$"
]
omit = [
  "erasmus/cogs/bible/testing_server_preferences_group.py"
]

[tool.isort]
extra_standard_library = ["typing_extensions", "_typeshed"]
known_first_party = ["erasmus"]
known_third_party = ["alembic"]
virtual_env = ".venv"
profile = "black"
combine_as_imports = true
add_imports = ["from __future__ import annotations"]
append_only = true

[tool.pyright]
include = ["erasmus", "tests", "stubs"]
stubPath = "./stubs"

pythonVersion = "3.10"
reportUnnecessaryTypeIgnoreComment = "warning"
typeCheckingMode = "strict"
reportPrivateUsage = "none"
reportUnusedImport = "none"
reportUnusedVariable = "none"
reportImportCycles = "none"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--cov=erasmus --cov-branch --cov-report=term -nauto --dist=loadscope"
testpaths = ["tests"]
asyncio_mode = "auto"

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
