[tool.poetry]
name = "erasmus"
version = "0.2.0"
description = ""
authors = ["Bryan Forbes <bryan@reigndropsfall.net>"]
license = "BSD-3-Clause"
packages = [
  { include = "erasmus" }
]

[tool.poetry.dependencies]
python = "^3.10"
aiodns = "^3.0"
alembic = "^1.7"
attrs = "^21.4.0"
beautifulsoup4 = "^4.10"
cchardet = "^2.1"
psycopg2 = "^2.9"
"botus_receptus" = {git = "https://github.com/bryanforbes/botus_receptus.git", branch = "52c1d8a8fe534fad23b660d4f4f4e2de42ba46b1", extras = ["gino", "uvloop"]}
more-itertools = {version = "~8.12.0"}
orjson = "^3.6.7"

[tool.poetry.dev-dependencies]
gino-stubs = {rev = "07171af1658b0e4ecbfac29e832eddf4b7e4733e", git = "https://github.com/bryanforbes/gino-stubs.git"}
black = "^22.1"
coverage = {version = "^6.3", extras = ["toml"]}
flake8 = "~4.0"
flake8-bugbear = ">=21.3.1"
flake8-pyi = "^22.2"
isort = "^5.10"
mypy = ">=0.901"
pre-commit = "^2.17"
pytest = "^7.1"
pytest-asyncio = "^0.18.2"
pytest-clarity = "^1.0.1"
pytest-cov = "^3.0"
pytest-mock = "^3.7"
pytest-recording = "^0.12.0"
pytest-sugar = "^0.9.4"
pytest-xdist = "^2.5"
types-toml = "^0.10.4"

[tool.poetry.scripts]
erasmus = 'erasmus.run:main'

[tool.black]
line-length = 88
target-version = ["py310"]
skip-string-normalization = true
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.pytest_cache
  | \.venv
  | alembic
  | htmlcov
)/
'''

[tool.coverage.report]
exclude_lines = [
  "pragma: no cover",
  "raise NotImplementedError",
  "^\\s+pass$",
  "^\\s*if TYPE_CHECKING:",
  "^\\s*\\.\\.\\.\\s*$"
]

[tool.isort]
extra_standard_library = ["typing_extensions"]
known_first_party = ["erasmus"]
virtual_env = ".venv"
profile = "black"

[tool.pyright]
include = ["erasmus", "tests", "stubs"]
stubPath = "./stubs"

pythonVersion = "3.10"
reportUnnecessaryTypeIgnoreComment = "warning"
typeCheckingMode = "strict"
reportPrivateUsage = "none"
reportUnusedImport = "none"
reportUnusedVariable = "none"
reportImportCycles = "none"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--cov=erasmus --cov-branch --cov-report=term -nauto --dist=loadscope"
testpaths = ["tests"]
filterwarnings = [
  "ignore",
  "always:::erasmus[.*]"
]

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
