[tool.poetry]
name = "erasmus"
version = "2.0.0"
description = ""
authors = ["Bryan Forbes <bryan@reigndropsfall.net>"]
license = "BSD-3-Clause"
packages = [
  { include = "erasmus" }
]

[tool.poetry.dependencies]
python = "^3.10"
alembic = "^1.7"
attrs = "^21.4.0"
beautifulsoup4 = "^4.11"
"botus_receptus" = {git = "https://github.com/bryanforbes/botus_receptus.git", rev = "9039737e95584ecc5c339b148d6a2179f59388d7", extras = ["uvloop", "sqlalchemy"]}
"discord.py" = { git = "https://github.com/Rapptz/discord.py", branch = "master", extras = ["speed"] }
more-itertools = "~8.13.0"

[tool.poetry.dev-dependencies]
asyncpg-stubs = "~0.25.2"
sqlalchemy2-stubs = "^0.0.2-alpha.22"
black = "^22.3"
coverage = {version = "^6.3", extras = ["toml"]}
flake8 = "~4.0"
flake8-bugbear = ">=21.3.1"
flake8-pyi = "^22.5"
isort = "^5.10"
mypy = ">=0.901"
pre-commit = "^2.19"
pytest = "^7.1"
pytest-asyncio = "^0.18.3"
pytest-clarity = "^1.0.1"
pytest-cov = "^3.0"
pytest-mock = "^3.7"
pytest-recording = "^0.12.0"
pytest-sugar = "^0.9.4"
pytest-xdist = "^2.5"

[tool.poetry.scripts]
erasmus = 'erasmus.run:main'

[tool.black]
line-length = 88
target-version = ["py310"]
skip-string-normalization = true
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.pytest_cache
  | \.venv
  | alembic
  | htmlcov
)/
'''

[tool.coverage.report]
exclude_lines = [
  "pragma: no cover",
  "raise NotImplementedError",
  "^\\s+pass$",
  "^\\s*if TYPE_CHECKING:",
  "^\\s*\\.\\.\\.\\s*$"
]

[tool.isort]
extra_standard_library = ["typing_extensions", "_typeshed"]
known_first_party = ["erasmus"]
virtual_env = ".venv"
profile = "black"
combine_as_imports = true

[tool.pyright]
include = ["erasmus", "tests", "stubs"]
stubPath = "./stubs"

pythonVersion = "3.10"
reportUnnecessaryTypeIgnoreComment = "warning"
typeCheckingMode = "strict"
reportPrivateUsage = "none"
reportUnusedImport = "none"
reportUnusedVariable = "none"
reportImportCycles = "none"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--cov=erasmus --cov-branch --cov-report=term -nauto --dist=loadscope"
testpaths = ["tests"]
asyncio_mode = "auto"

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
