[tool.poetry]
name = "erasmus"
version = "0.2.0"
description = ""
authors = ["Bryan Forbes <bryan@reigndropsfall.net>"]
license = "BSD-3-Clause"
packages = [
  { include = "erasmus" }
]

[tool.poetry.dependencies]
python = "^3.9"
aiodns = "^3.0"
alembic = "^1.6"
beautifulsoup4 = "^4.10"
cchardet = "^2.1"
psycopg2 = "^2.9"
ujson = "^4.0"
"botus_receptus" = {git = "https://github.com/bryanforbes/botus_receptus.git", rev = "9ef50b1fc4d2fb77fb58911cba63121b873c7621", extras = ["gino", "uvloop"]}
more-itertools = {version = "~8.8.0"}
discord-ext-menus = {git = "https://github.com/Rapptz/discord-ext-menus", rev = "6f2b873bf0d28903eb752aa1166b3aac26dc9007"}

[tool.poetry.dev-dependencies]
"discord.py-stubs" = {version = "~1.7.3"}
gino-stubs = {rev = "63fe5bac7b5a780781472ca39f9b585615547e05", git = "https://github.com/bryanforbes/gino-stubs.git"}
black = "^21.6b0"
coverage = {version = "^5.5", extras = ["toml"]}
flake8 = "~3.9"
flake8-bugbear = ">=21.3.1"
flake8-pyi = "^20.10"
isort = "^5.9"
mypy = ">=0.901"
pre-commit = "^2.13"
pytest = "^6.2"
pytest-asyncio = "^0.15.1"
pytest-clarity = "^1.0.1"
pytest-cov = "^2.12"
pytest-mock = "^3.6"
pytest-recording = "^0.11.0"
pytest-sugar = "^0.9.4"
pytest-xdist = "^2.3"
types-ujson = "^0.1.1"
types-toml = "^0.1.3"

[tool.poetry.scripts]
erasmus = 'erasmus.run:main'

[tool.black]
line-length = 88
target-version = ["py37"]
skip-string-normalization = true
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.pytest_cache
  | \.venv
  | alembic
  | htmlcov
)/
'''

[tool.coverage.report]
exclude_lines = [
  "pragma: no cover",
  "raise NotImplementedError",
  "^\\s+pass$",
  "^\\s*if TYPE_CHECKING:",
  "^\\s*\\.\\.\\.\\s*$"
]

[tool.isort]
extra_standard_library = ["typing_extensions"]
known_first_party = ["erasmus"]
virtual_env = ".venv"
profile = "black"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--cov=erasmus --cov-branch --cov-report=term -nauto --dist=loadscope"
testpaths = ["tests"]
filterwarnings = [
  "ignore",
  "always:::erasmus[.*]"
]

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
