[tool.poetry]
name = "erasmus"
version = "0.2.0"
description = ""
authors = ["Bryan Forbes <bryan@reigndropsfall.net>"]
license = "BSD-3-Clause"

[tool.poetry.dependencies]
python = "^3.9"
aiodns = "^2.0"
alembic = "^1.4"
beautifulsoup4 = "^4.9"
cchardet = "^2.1"
psycopg2 = "^2.8"
ujson = "^4.0.0"
"botus_receptus" = {rev = "7272feba8d4a22cc249cb677d2c19c5055965a49", git = "https://github.com/bryanforbes/botus_receptus.git", extras = ["gino_typed", "uvloop"]}
"typing-extensions" = ">=3.7.4"
more-itertools = {version = "~8.6.0"}
discord-ext-menus = {git = "https://github.com/Rapptz/discord-ext-menus", rev = "6f2b873bf0d28903eb752aa1166b3aac26dc9007"}

[tool.poetry.dev-dependencies]
asynctest = "^0.13.0"
black = "^20.8b1"
coverage = {extras = ["toml"], version = "^5.3"}
flake8 = "~3.8"
flake8-bugbear = ">=20.11.1"
flake8-pyi = "^20.10"
isort = "^5.6.4"
mypy = ">=0.790"
pre-commit = "^2.9"
pytest = "^6.2"
pytest-asyncio = "^0.14.0"
pytest-clarity = "^0.3.0-alpha.0"
pytest-cov = "^2.10"
pytest-mock = "^3.3.1"
pytest-recording = "^0.11.0"
pytest-sugar = "^0.9.4"
pytest-xdist = "^2.1"

[tool.poetry.scripts]
erasmus = 'erasmus.run:main'

[tool.black]
line-length = 88
target-version = ["py37"]
skip-string-normalization = true
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.pytest_cache
  | \.venv
  | alembic
  | htmlcov
)/
'''

[tool.coverage.report]
exclude_lines = [
  "pragma: no cover",
  "raise NotImplementedError",
  "^\\s+pass$",
  "^\\s*if TYPE_CHECKING:",
  "^\\s*\\.\\.\\.\\s*$"
]

[tool.isort]
extra_standard_library = ["typing_extensions"]
known_first_party = ["erasmus"]
virtual_env = ".venv"
profile = "black"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--cov=erasmus --cov-branch --cov-report=term -nauto --dist=loadscope"
testpaths = ["tests"]
filterwarnings = [
  "ignore",
  "always:::erasmus[.*]"
]

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
