[tool.poetry]
name = "erasmus"
version = "0.1.2"
description = ""
authors = ["Bryan Forbes <bryan@reigndropsfall.net>"]
license = "BSD-3-Clause"

[tool.poetry.dependencies]
python = "^3.8"
aiodns = "^2.0"
alembic = "^1.0"
beautifulsoup4 = "^4.9"
cchardet = "^2.1"
psycopg2 = "^2.7"
ujson = "^3.0.0"
"botus_receptus" = {rev = "master", git = "https://github.com/bryanforbes/botus_receptus.git", extras = ["gino_typed", "uvloop"]}
"typing-extensions" = ">=3.7.4"
more-itertools = {version = "~8.3.0"}

[tool.poetry.dev-dependencies]
asynctest = "^0.13.0"
black = "^19.3b0"
coverage = {extras = ["toml"], version = "^5.0"}
flake8 = "~3.8"
flake8-bugbear = "^20.1"
flake8-pyi = "^20.5"
mypy = "^0.770"
pre-commit = "^2.4"
pytest = "^5.4"
pytest-asyncio = "^0.12.0"
pytest-cov = "^2.9"
pytest-mock = "^3.0.0"
pytest-sugar = "^0.9.1"
pytest-vcr = "^1.0.0"
pytest-xdist = "^1.32"

[tool.poetry.scripts]
erasmus = 'erasmus.run:main'

[tool.black]
line-length = 88
target-version = ["py37"]
skip-string-normalization = true
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.pytest_cache
  | \.venv
  | alembic
  | htmlcov
)/
'''

[tool.coverage.report]
exclude_lines = [
  "pragma: no cover",
  "raise NotImplementedError",
  "^\\s+pass$",
  "^\\s*if TYPE_CHECKING:",
  "^\\s*\\.\\.\\.\\s*$"
]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
