aiodns==1.1.1
aiohttp==2.2.5
async-timeout==1.4.0
beautifulsoup4==4.6.0
cchardet==2.1.1
chardet==3.0.4
discord.py==1.0.0a1386
multidict==3.2.0
mypy-extensions==0.3.0
pycares==2.3.0
uvloop==0.8.1
websockets==3.4
yarl==0.12.0
