## direct dependencies
aiodns==1.1.1
aiohttp>=2.0.0,<2.3.0
alembic==0.9.8
async-timeout==2.0.0
asyncpg==0.15.0
beautifulsoup4==4.6.0
cchardet==2.1.1
click==6.7
git+https://github.com/Rapptz/discord.py@355eb08b25b5c46c4c061cf50594650738ac09cf#egg=discord.py
mypy-extensions==0.3.0
psycopg2==2.7.4
SQLAlchemy==1.2.2
uvloop==0.9.1
