## direct dependencies
aiodns==1.1.1
aiohttp==2.2.5
alembic==0.9.8
async-timeout==2.0.0
asyncpg==0.15.0
beautifulsoup4==4.6.0
cchardet==2.1.1
click==6.7
git+https://github.com/Rapptz/discord.py@d53c3a6c12f640519c5e4d569421a35c43978ef5#egg=discord.py
mypy-extensions==0.3.0
psycopg2==2.7.4
SQLAlchemy==1.2.2
uvloop==0.9.1

## The following requirements were added by pip freeze:
chardet==3.0.4
idna==2.6
Mako==1.0.7
MarkupSafe==1.0
multidict==4.1.0
pycares==2.3.0
python-dateutil==2.6.1
python-editor==1.0.3
six==1.11.0
websockets==4.0.1
yarl==1.1.0
