interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.biblegateway.com/quicksearch/?quicksearch=antidisestablishmentarianism&version=NASB1995&limit=20&interface=print&startnumber=1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n<meta charset='utf-8'>\n<meta
        http-equiv=\"Content-Language\" content=\"en\">\n<meta name=\"google\" content=\"notranslate\"
        />\n<meta content='width=device-width, initial-scale=1' name='viewport'>\n<title>BibleGateway
        - Keyword Search: antidisestablishmentarianism</title>\n<link rel=\"canonical\"
        href=\"https://www.biblegateway.com/quicksearch/?quicksearch=antidisestablishmentarianism&amp;version=NASB1995&amp;limit=20&amp;interface=print&amp;startnumber=1\"
        />\n<meta name=\"robots\" content=\"noindex, nofollow\" />\n<meta property=\"og:image\"
        content=\"https://www.biblegateway.com/assets/images/logos/logo_bg-sharing.png?16d8677c\"/>\n<meta
        property=\"og:image:secure_url\" content=\"https://www.biblegateway.com/assets/images/logos/logo_bg[...]
