interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.biblegateway.com/quicksearch/?quicksearch=faith&version=NASB1995&limit=20&interface=print&startnumber=1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n<meta charset='utf-8'>\n<meta
        http-equiv=\"Content-Language\" content=\"en\">\n<meta name=\"google\" content=\"notranslate\"
        />\n<meta content='width=device-width, initial-scale=1' name='viewport'>\n<title>BibleGateway
        - Keyword Search: faith</title>\n<link rel=\"canonical\" href=\"https://www.biblegateway.com/quicksearch/?quicksearch=faith&amp;version=NASB1995&amp;limit=20&amp;interface=print&amp;startnumber=1\"
        />\n<meta property=\"og:image\" content=\"https://www.biblegateway.com/assets/images/logos/logo_bg-sharing.png?bd78c37b\"/>\n<meta
        property=\"og:image:secure_url\" content=\"https://www.biblegateway.com/assets/images/logos/logo_bg-sharing.png?bd78c37b\"/>\n<meta
        property=\"og:image:type\" content=\"image/png\"/>\n<meta property=\"og:image:width\"
        content=\"200\"/>\n<meta property=\"og:image:height\" content=\"200\"/>\n<link
        rel=\"favorite icon\" href=\"/favicon.ico?bd78c37b\" type=\"image/x-icon\"
        />\n<link rel=\"search\" type=\"application/opensearchdescription+xml\" title=\"Bible
        Gateway\" href=\"/resources/opensearch/bgsearch.xml?bd78c37b\">\n\n<link rel=\"apple-touch-icon\"
        sizes=\"76x76\" href=\"/assets/images/ios/touch-icon-ipad.png\">\n<link rel=\"apple-touch-icon\"
        sizes=\"120x120\" href=\"/assets/images/ios/touch-icon-iphone-retina.png\">\n<link
        rel=\"apple-touch-icon\" sizes=\"152x152\" href=\"/assets/images/ios/touch-icon-ipad-retina.png\">\n<script
        type=\"text/javascript\">\n(function() {\n  var apis = [window.fetch, Object.assign,
        Array.prototype.includes, NodeList.prototype.forEach, Array.from];\n  apis.every(function(api)
        {return api}) || document.write('<script src=\"/assets/js/lib/polyfills.min.js?bd78c37b\"><\\/script>');\n
        \ window.assetsVersion = \"bd78c37b\";\n})();\n</script>\n<script src=\"/assets/js/init.min.js?bd78c37b\"
        type=\"text/javascript\"></script>\n<script>BG.appData({\"recaptcha_key\":\"6LdMkEkUAAAAAGd5aGH1cwku1OFyHwKYW_QUDZxm\",\"plus_info\":{\"amount\":499,\"amount_string\":\"$4.99\",\"yearly_amount\":4999,\"yearly_amount_string\":\"$49.99\"},\"assets_version\":\"bd78c37b\",\"locale\":\"en\",\"cdn_host\":\"\",\"version0\":{\"version_id\":\"NASB1995\"},\"books\":{\"NASB1995\":[{\"display\":\"Genesis\",\"osis\":\"Gen\",\"testament\":\"OT\",\"num_chapters\":50,\"chapters\":null,\"intro\":false},{\"display\":\"Exodus\",\"osis\":\"Exod\",\"testament\":\"OT\",\"num_chapters\":40,\"chapters\":null,\"intro\":false},{\"display\":\"Leviticus\",\"osis\":\"Lev\",\"testament\":\"OT\",\"num_chapters\":27,\"chapters\":null,\"intro\":false},{\"display\":\"Numbers\",\"osis\":\"Num\",\"testament\":\"OT\",\"num_chapters\":36,\"chapters\":null,\"intro\":false},{\"display\":\"Deuteronomy\",\"osis\":\"Deut\",\"testament\":\"OT\",\"num_chapters\":34,\"chapters\":null,\"intro\":false},{\"display\":\[...]
