interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.biblegateway.com/passage/?search=Mark+5:1&version=NASB&interface=print
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset='utf-8'>\n<meta
        http-equiv=\"Content-Language\" content=\"en\">\n<meta name=\"google\" content=\"notranslate\"
        />\n<meta content='width=device-width, initial-scale=1' name='viewport'>\n<title>Mark
        5:1 NASB - The Gerasene Demoniac - They came to - Bible Gateway</title>\n<link
        rel=\"canonical\" href=\"https://www.biblegateway.com/passage/?search=Mark%205%3A1&amp;version=NASB\"
        />\n<link rel=\"amphtml\" href=\"https://www.biblegateway.com/passage/?search=Mark%205%3A1&amp;version=NASB&amp;interface=amp\">\n<meta
        property=\"og:image\" content=\"https://www.biblegateway.com/assets/images/logos/logo_bg-sharing.png?8392aea6\"/>\n<meta
        property=\"og:image:secure_url\" content=\"https://www.biblegateway.com/assets/images/logos/logo_bg-sharing.png?8392aea6\"/>\n<meta
        property=\"og:image:type\" content=\"image/png\"/>\n<meta property=\"og:image:width\"
        con[...]
