interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.biblegateway.com/passage/?search=John+50:1-4&version=NASB1995&interface=print
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n<meta charset='utf-8'>\n<meta
        http-equiv=\"Content-Language\" content=\"en\">\n<meta name=\"google\" content=\"notranslate\"
        />\n<meta content='width=device-width, initial-scale=1' name='viewport'>\n<title>John
        50:1-4 NASB1995 -  - Bible Gateway</title>\n<link rel=\"canonical\" href=\"https://www.biblegateway.com/passage/?search=John+50:1-4&amp;version=NASB1995&amp;interface=print\"
        />\n<meta name=\"robots\" content=\"noindex, nofollow\" />\n<meta property=\"og:image\"
        content=\"https://www.biblegateway.com/assets/images/logos/logo_bg-sharing.png?503742ef\"/>\n<meta
        property=\"og:image:secure_url\" content=\"https://www.biblegateway.com/assets/images/logos/logo_bg-sharing.png?503742ef\"/>\n<meta
        property=\"og:image:type\" content=\"image/png\"/>\n<meta property=\"og:image:width\"
        content=\"200\"/>\n<meta property=\"og:image:height\" content=\"200\"/>\n<link
        rel=\"favorite icon\" href=\"/favicon.ico?503742ef\" type=\"image/x-icon\"
        />\n<link rel=\"search\" type=\"application/opensearchdescription+xml\" title=\"Bible
        Gateway\" href=\"/resources/opensearch/bgsearch.xml?503742ef\">\n\n<link rel=\"apple-touch-icon\"
        sizes=\"76x76\" href=\"/assets/images/ios/touch-icon-ipad.png\">\n<link rel=\"apple-touch-icon\"
        sizes=\"120x120\" href=\"/assets/images/ios/touch-icon-iphone-retina.png\">\n<link
        rel=\"apple-touch-icon\" sizes=\"152x152\" href=\"/assets/images/ios/touch-icon-ipad-retina.png\">\n<script
        type=\"text/javascript\">\n(function() {\n  var apis = [window.fetch, Object.assign,
        Array.prototype.includes, NodeList.prototype.forEach, Array.from];\n  apis.every(function(api)
        {return api}) || document.write('<script src=\"/assets/js/lib/polyfills.min.js?503742ef\"><\\/script>');\n
        \ window.assetsVersion = \"503742ef\";\n})();\n</script>\n<script src=\"/assets/js/init.min.js?503742ef\"
        type=\"text/javascript\"></script>\n<script>BG.appData({\"recaptcha_key\":\"6LdMkEkUAAAAAGd5aGH1cwku1OFyHwKYW_QUDZxm\",\"assets_version\":\"503742ef\",\"locale\":\"en\",\"cdn_host\":\"\",\"version0\":{\"version_id\":\"NASB1995\"},\"il_versions\":[],\"il_option\":false,\"books\":{\"NASB1995\":[{\"display\":\"Genesis\",\"osis\":\"Gen\",\"testament\":\"OT\",\"num_chapters\":50,\"chapters\":[{\"chapter\":1,\"type\":\"heading\",\"content\":[\"The
        Creation\"]},{\"chapter\":2,\"type\":\"heading\",\"content\":[\"The Creation
        of Man and Woman\"]},{\"chapter\":3,\"type\":\"heading\",\"content\":[\"The
        Fall of Man\"]},{\"chapter\":4,\"type\":\"heading\",\"content\":[\"Cain and
        Abel\"]},{\"chapter\":5,\"type\":\"heading\",\"content\":[\"Descendants of
        Adam\"]},{\"chapter\":6,\"type\":\"heading\",\"content\":[\"The Corruption
        of Mankind\"]},{\"chapter\":7,\"type\":\"heading\",\"content\":[\"[...]
[...]
