interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.biblegateway.com/reading-plans/verse-of-the-day/next?interface=print
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n<meta charset='utf-8'>\n<meta
        http-equiv=\"Content-Language\" content=\"en\">\n<meta name=\"google\" content=\"notranslate\"
        />\n<meta content='width=device-width, initial-scale=1' name='viewport'>\n<title>Bible
        Reading Plans - Verse of the Day - NIV - Today's Reading</title>\n<link rel=\"canonical\"
        href=\"https://www.biblegateway.com/reading-plans/verse-of-the-day/next\"
        />\n<meta property=\"og:image\" content=\"https://www.biblegateway.com/assets/images/logos/logo_bg-sharing.png?5c915858\"/>\n<meta
        property=\"og:image:secure_url\" content=\"https://www.biblegateway.com/assets/images/logos/logo_bg-sharing.png?5c915858\"/>\n<meta
        property=\"og:image:type\" content=\"image/png\"/>\n<meta property=\"og:image:width\"
        content=\"200\"/>\n<meta property=\"og:image:height\" content=\"200\"/>\n<link
        rel=\"favorite icon\" href=\"/favicon.ico?5c915858\" type=\"image/x-icon\"
        />\n<link rel=\"search\" type=\"application/opensearchdescription+xml\" title=\"Bible
        Gateway\" href=\"/resources/opensearch/bgsearch.xml?5c915858\">\n\n<link rel=\"apple-touch-icon\"
        sizes=\"76x76\" href=\"/assets/images/ios/touch-icon-ipad.png\">\n<link rel=\"apple-touch-icon\"
        sizes=\"120x120\" href=\"/assets/images/ios/touch-icon-iphone-retina.png\">\n<link
        rel=\"apple-touch-icon\" sizes=\"152x152\" href=\"/assets/images/ios/touch-icon-ipad-retina.png\">\n<script
        type=\"text/javascript\">\n(function() {\n  var apis = [window.fetch, Object.assign,
        Array.prototype.includes, NodeList.prototype.forEach, Array.from];\n  apis.every(function(api)
        {return api}) || document.write('<script src=\"/assets/js/lib/polyfills.min.js?5c915858\"><\\/script>');\n
        \ window.assetsVersion = \"5c915858\";\n})();\n</script>\n<script src=\"/assets/js/init.min.js?5c915858\"
        type=\"text/javascript\"></script>\n<script>BG.appData({\"recaptcha_key\":\"6LdMkEkUAAAAAGd5aGH1cwku1OFyHwKYW_QUDZxm\",\"recaptchav3_key\":\"6LcVUS8pAAAAAO0n_gVAwPItyOzybBRwrXayEvab\",\"plus_info\":{\"amount\":499,\"amount_string\":\"$4.99\",\"yearly_amount\":4999,\"yearly_amount_string\":\"$49.99\"},\"assets_version\":\"5c915858\",\"locale\":\"en\",\"cdn_host\":\"\",\"plan\":\"verse-of-the-day\",\"day_no\":34,\"twitter_text\":\"I\\u2019m
        enjoying @BibleGateway\\u2019s Verse of the Day #Bible #ReadingPlan for today.
        You can too:\",\"twitter_url\":\"https:\\/\\/www.biblegateway.com\\/reading-plans\\/verse-of-the-day\\/next\",\"reading_date\":\"2025-02-04\",\"rp_type\":\"reading-plans\",\"app_share_text\":\"
        \     I love you, LORD, my strength.        The LORD is my rock, my fortress
        and my deliverer;         my God is my rock, in whom I take refuge,         my
        shield and the horn of my salvation, my\",\"version_id\":\"NIV\",\"ref_display\":\"Psalm
        18:1\\u20132\",\"version0\":{\"version_id\":\"NIV\"},\"books\":{\"NIV\":[{\"display\":\"Genesis\",\"osis\":\"Gen\",\"testament\":\"OT\",\"num_chapters\":50,\"chapters\":null,\"intro\":false},{\"display\":\"Exodus\",\"osis\":\"Exod\",\"testament\":\"OT\",\"num_chapters\":40,\"chapters\":null,\"intro\":false},{\"display\":\"Leviticus\",\"osis\":\"Lev\",\"testament\":\"OT\",\"num_chapters\":27,\"chapters\":null,\"intro\":false},{\"display\":\"Numbers\",\"osis\":\"Num\",\"testament\":\"OT\",\"num_chapters\":36,\"chapters\":null,\"intro\":false},{\"display\":\"Deuteronomy\",\"osis\":\"Deut\",\"testament\":\"OT\",\"num_chapters\":34,\"chapters\":null,\"intro\":false},{\"display\":\[...]
