interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.biblegateway.com/passage/?search=Psalm+53:1&version=ESV&interface=print
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n<head>\n<meta charset='utf-8'>\n<meta content='width=device-width,
        initial-scale=1' name='viewport'>\n<title>Psalm 53:1 ESV - There Is None Who
        Does Good - To the - Bible Gateway</title>\n<link rel=\"canonical\" href=\"https://www.biblegateway.com/passage/?search=Psalm+53%3A1&amp;version=ESV\"
        />\n<link rel=\"amphtml\" href=\"https://www.biblegateway.com/passage/?search=Psalm+53%3A1&amp;version=ESV&amp;interface=amp\">\n<meta
        property=\"og:image\" content=\"https://www.biblegateway.com/assets/images/logos/logo_bg-sharing.png?c722f54c\"/>\n<meta
        property=\"og:image:secure_url\" content=\"https://www.biblegateway.com/assets/images/logos/logo_bg-sharing.png?c722f54[...]
[...]
