interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.biblegateway.com/passage/?search=John+50:1-4&version=NASB&interface=print
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n<head>\n<meta charset='utf-8'>\n<meta content='width=device-width,
        initial-scale=1' name='viewport'>\n<title>John 50:1-4 NASB -  - Bible Gateway</title>\n<link
        rel=\"canonical\" href=\"https://www.biblegateway.com/passage/?search=John+50:1-4&amp;version=NASB&amp;interface=print\"
        />\n<meta property=\"og:image\" content=\"https://static6-a.akamaihd.net/assets/images/logos/logo_bg-sharing.png?9583cc91\"/>\n<meta
        property=\"og:image:secure_url\" content=\"https://static6-a.akamaihd.net/assets/images/logos/logo_bg-sharing.png?9583cc91\"/>\n<meta
        property=\"og:image:type\" co[...]
[...]
