interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.biblegateway.com/quicksearch/?quicksearch=faith&qs_version=NASB&limit=20&interface=print&startnumber=1
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n<head>\n<meta charset='utf-8'>\n<meta content='width=device-width,
        initial-scale=1' name='viewport'>\n<title>BibleGateway - Keyword Search: faith</title>\n<link
        rel=\"canonical\" href=\"https://www.biblegateway.com/quicksearch/?quicksearch=faith&amp;qs_version=NASB&amp;limit=20&amp;interface=print&amp;startnumber=1\"
        />\n<meta property=\"og:image\" content=\"https://www.biblegateway.com/assets/images/logos/logo_bg-sharing.png?dc78e77b\"/>\n<meta
        property=\"og:image:secure_url\" content=\"https://www.biblegateway.com/assets/images/logos/logo_bg-sharing.png?dc78e77b\"/>\n<meta
   [...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.biblegateway.com/quicksearch/?quicksearch=faith&qs_version=NASB&limit=20&interface=print&startnumber=1
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset='utf-8'>\n<meta
        http-equiv=\"Content-Language\" content=\"en\">\n<meta name=\"google\" content=\"notranslate\"
        />\n<meta content='width=device-width, initial-scale=1' name='viewport'>\n<title>BibleGateway
        - Keyword Search: faith</title>\n<link rel=\"canonical\" href=\"https://www.biblegateway.com/quicksearch/?quicksearch=faith&amp;qs_version=NASB&amp;limit=20&amp;interface=print&amp;startnumber=1\"
        />\n<meta property=\"og:image\" content=\"https://www.biblegateway.com/assets/images/logos/logo_bg-sharing.png?057316fe\"/>\n<meta
        property=\"og:image:secure_url\" content=\"https://www.biblegateway.com/assets/images/logos/logo_bg-sharing.png?057316fe\"/>\n<meta
        property=\"og:image:type\" content=\"image/png\"/>\n<me[...]
