interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.biblegateway.com/quicksearch/?quicksearch=faith&qs_version=NASB&limit=20&interface=print&startnumber=1
  response:
    body:
      string: "<!DOCTYPE html>\n<html>\n<head>\n<meta charset='utf-8'>\n<meta content='width=device-width,
        initial-scale=1' name='viewport'>\n<title>BibleGateway - Keyword Search: faith</title>\n<link
        rel=\"canonical\" href=\"https://www.biblegateway.com/quicksearch/?quicksearch=faith&amp;qs_version=NASB&amp;limit=20&amp;interface=print&amp;startnumber=1\"
        />\n<meta property=\"og:image\" content=\"https://www.biblegateway.com/assets/images/logos/logo_bg-sharing.png?6868c465\"/>\n<meta
        property=\"og:image:secure_url\" content=\"https://www.biblegateway.com/assets/images/logos/logo_bg-sharing.png?6868c465\"/>\n<meta
   [...]
[...]
